:root{
    --sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container{
    display: flex;
    width:  100%;
    height: 95vh;
    align-items: center;
    gap: 50px;
}

.container{
    display: grid;
    width:  500px;
    height: 500px;
    margin-left: 100px;
    box-shadow: var(--sombra);
}

.opciones{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    gap: 20px;
}

